body {
	text-align: center;

	background-color: #a8c5ed;
}

.title {
	text-align: center;
}

#mato {
	display: inline-block;
	margin: 0 auto;

	background-color: cornflowerblue;

	text-align: center;
}