body {
	text-align: center;
}

#title {
	text-align: center;
}

#mato {
	display: inline-block;
	margin: 0 auto;

	background-color: cornflowerblue;

	text-align: center;
}

#help {
	display: inline-block;

	text-align: center;
}